*{
    background-color: black;
}
img{
    width: 100% ;
    border: 5px solid white;
    height: 496px ;
    width: 400px ;
    margin-top: 50px ;

}
div{
    width: 50% ;
    margin-left: 35% ; 
}
h1{
    color: white ; 
    /* margin-left: 620px ; */
    margin-left: 620px;
    margin-top: 20px ;
}
p{
    margin-top: 20px ;
    color:white ; 
    margin-left:50px ;
}